{% extends 'home/base.html' %}
{% block content%}
    <div class="container">
        <h1>TODO Home</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Things</th>
                    <th>Date Create/Updated</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks%}
                    <tr>
                        <td>{{ task.objective}}</td>
                        <td>{{ task.date_updated }}</td>
                        <td>Delete</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content%}